<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg3otSVw2zKrLA2GGslcQJwPOdyFqxof0&sensor=false&libraries=visualization"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <div class="modal fade" id="helpModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="helpModal-header">
              <h2 class="modal-title" id="myModalLabel">LetsGo!</h2>
            </div>
            <div class="modal-body" id="helpModal-body">
                <p>LetsGo! is a tool to help you and your friends discover businesses that you'd like to go to together.</p>
                <p>We provide an interactive map that can help you and your group decide on a place to go.
                Whether it be for groceries, coffee, food, or booze, LetsGo! allows you to find new businesses to enjoy!</p>
                <h4>How To:</h4>
                <ol>
                  <li>Send the URL to your friends so that they can access your LetsGo! List.</li>
                  <li>Browse through the businesses near you on the map</li>
                  <li>You or your friends can add businesses to the list by clicking on them.</li>
                  <li>Your list will be on the right, ordered by the votes each business receives.</li>
                  <li>After everyone has voted, you'll have a fair and exciting destination to go to without feeeling guilty.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" id="gsbutton" class="btn btn-default" data-dismiss="modal">Get Started</button>
            </div>
        </div>
      </div>
    </div>
  </head>
  <body>
    <div id="page">
      <div id="sidebar"></div>
      <div id="header">
        <img id="logo" src="{% static 'img/LetsGo-white.png' %}">
        <div id="pagename">#NameOfYourThing</div>

        <!-- <div id="pagedesc"><p>THIS IS MY PAGE!</p></div> -->
        <div class="btn-group" id='categoriesGroup'>
          <button type="button" id='categoriesButton' class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Categories <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right  " id='categoriesMenu' role="menu">
          </ul>
        </div>
        <button type="button" id="getmore" class="btn btn-default">Fetch More Businesses</button>
      </div>

      <div id="map-canvas"></div>
      <div id="loading"><b>Loading More Businesses...</b></div>
      <div id="sessionloc">{{location}}</div>
    </div>
  </body>
</html>