<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg3otSVw2zKrLA2GGslcQJwPOdyFqxof0&sensor=false&libraries=visualization">
    </script>

    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'js/app.js' %}">
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>