<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg3otSVw2zKrLA2GGslcQJwPOdyFqxof0&sensor=false&libraries=visualization"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style type="text/css">
        .marker {font-size: 11px;}
        .marker .businessimage { float: left;}
        .marker .ratingsimage {vertical-align:middle; margin-top:0px;}
        .marker .businessinfo { margin-left: 110px;}
        .marker .businessname { font-style: bold; font-size: 12px;}
    </style>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="helpModal-header">
              <h2 class="modal-title" id="myModalLabel">LetsGo!</h2>
            </div>
            <div class="modal-body" id="helpModal-body">
                <p>LetsGo! is a tool to help you and your friends discover businesses that you'd like to go to!</p>
                <p>LetsGo! is an interactive map that can help you and your group decide on a place to go.
                Whether it be for groceries, coffee, food, or booze, LetsGo! allows you to find new businesses to enjoy!</p>
                <h4>How To:</h4>
                <ol>
                  <li>Send the URL to your friends so that they can access your LetsGo! List.</li>
                   <li>More usage instructions!</li>
                   <li>You or your friends can add businesses to the list by voting on them.</li>
                  <li>The list will be ordered based on the number of votes that it receives.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <img id="logo" src="{% static 'img/LetsGo-white.png' %}">
        <div id="pagename"><p>#NameOfYourThing</p></div>
        <div id="pagedesc"><p>THIS IS MY PAGE!</p></div>
      </div>
      <div id="sidebar"></div>
      <div id="map-canvas"></div>

    </div>
  </body>
</html>