div#page {
  width:100%;
  height:-webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  margin:0 auto;
  text-align:left;
}
div#header {
  float: top;
  width: 400px;
  width:-webkit-calc(100% - 400px);
  width: -moz-calc(100% - 400px);
  height: 30px;
  background-color: rgb(127, 127, 127);
  border-top-right-radius: 5px;
  /*border-bottom-style: solid;
  border-bottom-color: rgb(60, 60, 60);
  border-bottom-width: 2px;*/
}
#logo {
  float: left;
  opacity: 0.75;
  height: 100%;
  width: auto;
  padding: 2px;
  cursor: pointer;
}
div#pagename {
  display:inline-block;
  padding-left: 5px;
  height: 100%;
  font-weight: bold;
  font-size: 22px;
}

div#pagedesc {
  float:right;
  display:inline-block;
  padding-top: 10px;
  padding-left: 5px;
  height: 100%;
}
div#sidebar {
	float: right;
	width: 400px;
	height: 100%;
  overflow: scroll;
  padding: 2px;
  padding-top: 0px;
  overflow-x: hidden;
  padding-left: 5px;
}
#categoriesGroup {
  float: right;
  height: 30px;
  padding: 0px;
  margin: 0px;
}
#categoriesButton {
  height: 30px;
  padding: 0px;
  padding-right: 4px;
  padding-left: 4px;
  margin: 0px;  
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background: rgb(200, 200, 200);
}
#getmore {
  float: right;
  height: 30px;
  padding: 0px;
  margin-right: 1px;
  padding-right: 4px;
  padding-left: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: rgb(200, 200, 200);
}
div#loading {
  left: 0px;
  bottom: 0px;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
}
div#map-canvas {
	overflow: hidden;
  min-height: 50px;
	height: 100%;
}
#helpModal-header {
  text-align: center;
}
div.vote-div {
  float: right;
  width: 22%;
  height: 100%;
  position:relative;
  padding-right: 3px;
}
div.businesscontents {
  float: left;
  padding-top: 7px;
  width: 78%;
  word-wrap: break-word;
}
#sidebar .panel {
  margin-bottom: 2px;

}
#sidebar .panel-body {
  padding: 0px;
  position:relative;
}
#sidebar .btn {
  float: right;
  width: 100%;
  min-height: 100%;
  background: rgb(200, 200, 200);
  border: 2px solid;
  border-color: rgb(60, 60, 60);
  font-size: 12px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
#sidebar .btn.btn-default.btn-lg.active {
  background: rgba(0, 200, 0, 1);
}

html, body{
	height: 100%;
}

.categories {
  padding-bottom: 3px;
}

.marker {font-size: 11px;}
.marker .businessimage { float: left;}
.marker .ratingsimage {vertical-align:middle; margin-top:0px;}
.marker .businessinfo { margin-left: 110px;}
.marker .businessname { font-style: bold; font-size: 12px;}

#sessionLoc{
  display: none;
}

#sidebar h2{
  text-align: center;
  font-style: italic;
}

#sessiondescription{
  resize: none;
}

#helpModal .modal-dialog.modal-sm{
  width: 350px;
}
